@font-face {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/recursive-v34-latin-regular.woff2') format('woff2'),
    url('../fonts/recursive-v34-latin-regular.woff') format('woff');
}
@font-face {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 800;
    src: local(''),
    url('../fonts/recursive-v34-latin-800.woff2') format('woff2'),
    url('../fonts/recursive-v34-latin-800.woff') format('woff');
}
:root{
    --clr-hover-bg:#3C4F76;
    --clr-clr:#3d3d3d;
    --clr-modal:#DDDBF1;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}
body{
    font-family: 'Recursive', sans-serif;
    overflow-x: hidden;

}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.elModal{
    padding: 10px;
    width: 100%;
    background-color:#5183A6;
    position: fixed;
    top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-400px);
}

.elModa__list{
    display: flex;
    align-items: center;
}
.elModal__item + .elModal__item {
    margin-left: 20px;
}
.elModal__link{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}
.tels__tel{
    position: relative;
    padding-left: 35px;
    color: #fff;
    margin-right: 50px;
}
.tels__tel::before{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    content: "";
    background-image: url("../images/tel.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 32px;
    height: 32px;
}
.tels__ins{
    color: #fff;
    font-weight: 400;
    padding-left: 35px;
    font-size: 20px;
    position: relative;
}
.tels__ins::before{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    content: "";
    background-image: url("../images/instagram.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 32px;
    height: 32px;
}
@media only screen and (max-width:882px) {
    .elModal{
        flex-direction: column;
        text-align: center;
    }
    .tels{
        margin-top: 20px;
    }
}
@media only screen and (max-width:484px) {
    .tels__ins{
        font-size: 15px;
    }
    .tels__tel{
        font-size: 15px;
    }
    .elModal__link{
        font-size: 16px;
    }
}
@media only screen and (max-width:404px) {
    .elModa__list{
        flex-direction: column;
    }
    .elModal__item + .elModal__item{
         margin-left: 0;
         margin-top: 10px;
    }
    .tels{
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    .tels__tel{
        margin-right: 0;
        margin-bottom: 20px;
    }
}
/* Header Styles Start */
.site-header{
    position: relative;
    padding: 10px 0;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    background-color: #F7F7F7;
    /* position: fixed; */
    right: 0;
    left: 0;
    z-index: 999999999999999;
    text-align: center;
    overflow: hidden;
}
.site-header.sticky{
    overflow: hidden;
    background-color: #B2CAE7;
}
/* main{
    z-index: -1;
} */
.header__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__link-logo{
    display: inline-block;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #333;
}
.header__left-links{
    display: flex;
    align-items: center;
}
.header__list{
    margin-right: 80px;
    display: flex;
    align-items: center;
}
.list__item + .list__item {
    margin-left: 30px;
}
.list__item{
    overflow-y: hidden;
}
.list__link{
    font-size: 20px;
    font-weight: 400;
    color: #3d3d3d;
    padding-bottom: 5px;
    border-bottom: 4px solid transparent;
    border-radius: 5px;

}
.list__link:hover{
    border-bottom: 4px solid #3C4F76;
}
.header__links{
    display: flex;
    align-items: center;
}
.header__tel{
    margin-right: 50px;
    font-size: 15px;
}
.header__instagram, .header__tel{
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    color:var(--clr-clr) ;
}
.header__instagram:hover, .header__tel:hover{
    color:var(--clr-hover-bg);
    border: 2px solid var(--clr-hover-bg);
}
.header__instagram-img {
    margin-right: 8px;
}
.header__tel-img{
    margin-right: 8px;
    width: 18px;
    height: 18px;
}
.header__instagram-img > path, .header__tel-img > path {
    fill: var(--clr-clr);
}
.header__hamburger-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
    width: 40px;
    height: 40px;
}
.header__hamburger-line{
    display: inline-block;
    width: 40px;
    height: 3px;
    background-color: var(--clr-clr);
}
.header__hamburger-line + .header__hamburger-line {
    display: inline-block;
    margin-top: 5px;
}
.modal{
    z-index: 888888888;
    padding: 10px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    position: fixed;
    top: 109px;
    right: 0;
    /* transform: translateX(145px); */
    background-color: var(--clr-modal);
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}

.modal__item + .modal__item {
    margin-left: 10px;
}
.modal__link{
    display: inline-block;
    color: var(--clr-clr);
    border-bottom:2px solid transparent;
    border-radius: 2px;
    font-size: 15px;
}
.modal__link:hover{
    color:var(--clr-hover-bg);
    border-bottom: 2px solid var(--clr-hover-bg);
}
.modal__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@keyframes opened {
    0%{
        transform: scale(0.2);
    }
    100%{
        transform: scale(1) ;
    }
}

/* Header Responsive Start */
@media only screen and (max-width:1039px){
    .list{
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media only screen and (max-width:890px){
    .list{
        display: none;
    }
    .header__hamburger-wrapper{
        display: flex;
        margin-left: 40px;
    }
    .down-traform{
        z-index: 999090090;
        transform: translateY(-85px);
    }
    .please-deltee{
        transform: translateY(-400px);
    }
    .open{
        animation: opened 0.4s ease-in-out;
        animation-iteration-count: 1;
        opacity: 1;
    }
    .rotate-open1{
        transform: rotate(45deg) translateY(11px) translateX(10px);
    }
    .rotate{
        opacity: 0;
    }
    .rotate-open2{
        transform: rotate(-45deg) translateY(-1px);
    }
    .modal__link{
        font-size: 12px;
    }
}
@media only screen and (max-width:562px){
    .header__links{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 148px;
    }
    .header__tel{
        margin-right: 0;
    }
    .header__hamburger-line{
        width: 30px;
    }
    .modal{
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .header__tel, .header__instagram{
        font-size: 15px;
    }
    .header__top{
        justify-content: space-between;
    }
    .modal__link{
        font-size: 11px;
    }

}
@media only screen and (max-width:500px){
    .modal__list{
        flex-direction: column;
        width: 100%;
    }

}
@media only screen and (max-width:492px){
    .header__top{
        justify-content: center;
    }
    .modal__list{
        width: 100%;
        flex-wrap: wrap;
    }
    .modal__link{
        font-size: 14px;
    }

}

@media only screen and (max-width:308px){
    .modal{
        top: 126px;
    }
}
/* Header Responsive end */

/* Header Styles End */


/* Main Styles Start */

/* Hero section Start */
.main-title{
    opacity: 0;
    margin: 0;
    z-index: -55555;
}
.hero__title{
    z-index: -2;
    overflow-x: hidden;
    padding-bottom: 8px;
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 40px;
    color: var(--clr-hover-bg);
    /* border-bottom: 5px solid var(--clr-hover-bg); */
}
.hero__title::before{
    position: absolute;
    bottom: 0;
    content: '';
    width: 50%;
    height: 4px;
    background-color: var(--clr-hover-bg);
    animation: leftto 1.5s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.hero__title::after{
    position: absolute;
    bottom: 0;
    content: '';
    width: 50%;
    height: 4px;
    background-color: var(--clr-hover-bg);
    animation: rightto 1.5s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes leftto {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(200%);
    }
}
@keyframes rightto {
    0%{
        transform: translateX(10%);
    }
    100%{
        transform: translateX(-320%);
    }
}

.hero-section{
    padding: 0 0 35px 0;
    text-align: center;
}
.hero__list{
    z-index: -1;
    padding: 20px 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hero__item{
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    width: 300px;
    height: 400px;
    padding: 10px;
    background-color: rgba(17, 17, 26, 0.1);
    border-radius: 10px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.del-opasi{
    background-color: transparent;
    box-shadow: none;
}
.prob-img{
    object-fit: cover;
}
.hero__item:nth-child(4),.hero__item:nth-child(5) , .hero__item:nth-child(6) {
    margin-top: 20px;
}
.hero__materials-img{
    width: 100%;
    transform: scale(0.9);
    z-index: -2222;
}
.img1{
    transform: translateY(-51px) scale(0.7);
}
.img3{
    transform: scale(1.2) translateY(-15px);
}
.img4{
    transform: scale(0.9) translateY(54px);
}
.img5{
    transform: scale(0.6) translateY(-203px);
    border-radius: 5px;
}
.list-img{
    transform: scale(1.1) translateX(10px);
}
.scale{
    transition: all 0.5s;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin:  auto;
    transform: scale(0.25);
    z-index: 9999;
}
.opasity{
    background-color: rgba(33, 35, 38, 0.55);
}
.del{
    display: none;
}
.hero__delete-img{
    position: fixed;
    top: 50px;
    right: 40px;
    display: none;
    cursor: pointer;
}
.scales{
    transition: all 0.5s;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin:  auto;
    transform: scale(0.35);
    z-index: 9999;
}
/* .open{
    display: block;
} */
/* Hero Responsive Start */
@media only screen and (max-width:950px){
    .hero__list{
        align-items: flex-start;
        justify-content: center;
    }
    .hero__item{
        margin: 0 auto;
        width: 200px;
        height: 200px;
    }
    .hero__item:nth-child(4), .hero__item:nth-child(5), .hero__item:nth-child(6) {
        margin-top: 0;
    }
    .img1{
        transform: scale(0.6) translateY(-102px);
    }
    .img2{
        transform: scale(0.8) translateY(-31px);
    }
    .img3{
        transform: translateY(-30px) scale(1);
    }
    .img4{
        transform: translateY(-3px);
    }
    .img5{
        transform: translateY(-108px) scale(0.5);
    }
    .img6{
        transform: scale(1.1) translateY(-32px) translateX(6px);
    }
    .scale{
        transition: all 0.5s;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin:  auto;
        transform: scale(0.25);
        z-index: 9999;
    }
}
@media only screen and (max-width:818px) {
    .hero__item:nth-child(4), .hero__item:nth-child(5), .hero__item:nth-child(6){
        margin-top: 20px;
    }
    .scale{
        transition: all 0.5s;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin:  auto;
        transform: scale(0.25);
        z-index: 9999;
    }
}
@media only screen and (max-width:818px) {
    .hero__item{
        width: 160px;
        height: 160px;
    }
    .img1{
        transform: scale(0.6) translateY(-75px);
    }
    .img5{
        transform: scale(0.5) translateY(-171px);
    }
    .hero__title{
        font-size: 30px;
    }
    .scale{
        transition: all 0.5s;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin:  auto;
        transform: scale(0.1);
        z-index: 9999;
    }
    .scales{
        transition: all 0.5s;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin:  auto;
        transform: scale(0.5);
        z-index: 9999;
    }
}
@media only screen and (max-width:524px) {
    .hero__item{
        width: 120px;
        height: 120px;
    }
    .hero__item:nth-child(4) {
        margin-top: 0;
    }
    .img1{
        transform: scale(0.6) translateY(-60px);
    }
    .img2 {
        transform: scale(0.8) translateY(-16px);
    }
    .img5{
        transform: scale(0.5) translateY(-171px);
    }
    .img3{
        transition: all 0.4s;
        transform: scale(1) translateY(-20px);
    }
    .hero__title{
        font-size: 30px;
    }
    .img5 {
        transform: scale(0.5) translateY(-124px);
    }
    .img6 {
        transform: scale(1.1) translateY(-18px) translateX(3px);
    }
    .scale{
        transition: all 0.5s;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin:  auto;
        transform: scale(0.55);
        z-index: 9999;
    }
    .scales{
        transition: all 0.5s;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin:  auto;
        transform: scale(0.5);
        z-index: 9999;
    }
}
@media only screen and (max-width:520px) {
    .hero__item{
        width: 120px;
        height: 120px;
    }
    .hero__item:nth-child(4) {
        margin-top: 20px;
    }

    .img2 {
        transform: scale(0.8) translateY(-16px);
    }
    .img5{
        transform: scale(0.5) translateY(-171px);
    }
    .hero__title{
        font-size: 30px;
    }
    .img5 {
        transform: scale(0.5) translateY(-124px);
    }
    .scale{
        transition: all 0.5s;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin:  auto;
        transform: scale(0.55);
        z-index: 9999;
    }
    .img6 {
        transform: scale(1.1) translateY(-18px) translateX(3px);
    }
    .img1{
        transform: scale(0.6) translateY(-60px);
    }
}
@media only screen and (max-width:450px){
    .hero__title{
        font-size: 25px;
        margin: 0 auto;
    }
    .hero__item{
        width: 100%;
    }
    .scale{
        transition: all 0.5s;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin:  auto;
        transform: scale(0.25);
        z-index: 9999;
    }
}
@media only screen and (max-width:520px) {
    .hero__item{
        width: 120px;
        height: 120px;
    }
    .hero__item:nth-child(4) {
        margin-top: 20px;
    }
    .img1{
        transform: scale(0.6) translateY(-60px);
    }
    .img2 {
        transform: scale(0.8) translateY(-16px);
    }

    .img5{
        transform: scale(0.5) translateY(-171px);
    }
    .hero__title{
        font-size: 30px;
    }
    .img5 {
        transform: scale(0.5) translateY(-124px);
    }
    .img6 {
        transform: scale(1.1) translateY(-18px) translateX(3px);
    }
    .scale{
        transition: all 0.5s;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin:  auto;
        transform: scale(0.35);
        z-index: 9999;
    }


    /* .img3{
        transform: scale(0.5);
    } */
}
@media only screen and (max-width:400px) {
    .hero__item{
        width: 120px;
        height: 120px;
    }
    .hero__item:nth-child(4) {
        margin-top: 20px;
    }
    .hero__item:nth-child(3){
        margin-top: 20px;
    }
    .img1{
        transform: scale(0.6) translateY(-60px);
    }
    .img2 {
        z-index: -999;
        transform: scale(0.8) translateY(-16px);
    }
    .img5{
        transform: scale(0.5) translateY(-171px);
    }
    .hero__title{
        font-size: 30px;
    }
    .img5 {
        transform: scale(0.5) translateY(-124px);
    }
    .img6 {
        transform: scale(1.1) translateY(-18px) translateX(3px);
    }
    .scale{
        transition: all 0.5s;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin:  auto;
        transform: scale(0.5);
        z-index: 9999;
    }

}
/* Hero Responsive End */
/* Hero section End */

/* CHoose Us Section Start */
.choose-us-section{
    z-index: 1;
    position: relative;
    padding: 60px 0;
    background-color: #333;
    overflow: hidden;
}
.choose-us-section::before {
    width: 600px;
    height: 600px;
    transform: scale(1.3);
    content: '';
    position: absolute;
    top: 12px;
    right: 0;
    background-image: url(../images/why.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: calc(50% - 40px);
    z-index: -1;
    bottom: 0;
}
.choose{
    width: 50%;
    color: #fff;
}
.chose__title{
    font-weight: 700;
    font-size: 45px;
    color: #fff;
}
.choose__text{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
}
.choose__link{
    position: relative;
    text-align: center;
    padding: 10px 0;
    width: 150px;
    font-weight: bold;
    border-radius:5px;
    display: inline-block;
    color: #333;
    background-color: #fff;
    z-index: 2222222222222;
}
.choose__link:hover{
    color: #fff;
    background-color: var(--clr-hover-bg);
}
.choose__subtitle{
    z-index: 9;
}


/* Choose Section Responsive Start */
@media only screen and (max-width:702px){
    .choose-us-section{
        padding: 20px 0 200px 0;
    }
    .choose-us-section::before{
        right: 0;
        /* margin: 0 auto; */
        top: 150px;
        height:351px;
        z-index: -1;
        bottom:0;
    }
    .choose{
        width: 100%;
        text-align: center;
    }
    .chose__title{
        font-size: 25px;
    }
    .choose__text{
        font-size: 15px;
    }
    .choose-us-section::before{
        transform: scale(0.7);
        top: 200px;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
}
@media only screen and (max-width:556px){
    .choose-us-section::before{
        right: 0;
        /* margin: 0 auto; */
        top:236px;
        height:351px;
        z-index: -1;
        bottom:0;
    }
}
@media only screen and (max-width:423px){
    .choose-us-section::before{
        right: 0;
        /* margin: 0 auto; */
        top:274px;

        height:351px;
        z-index: -1;
        bottom:0;
    }
}
@media only screen and (max-width:400px){
    .choose-us-section::before{
        right: 0;
        /* margin: 0 auto; */
        top:321px;
        height:351px;
        z-index: -1;
        bottom:0;
    }
}
/* Choose Section Responsive End */
/* CHoose Us Section End */


/* Clients Section Start */
.clients-section{
    padding: 40px 0;
    text-align: center;
}
.clients__title{
    margin-bottom: 20px;
    font-size: 45px;
    text-align: center;

}
.clients__list{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.clients__item{
    cursor: pointer;
    margin-bottom: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--clr-modal);
    /* height: 300px;
    width: 400px; */
    background-image: url("../images/card-fon.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    /* z-index: 999; */
}

.clients__img{
    border-radius: 5px;
    /* transform: scale(0.54); */
    width: 400px;
    height: 300px;
}

.clients__subtitle{
    margin-top: 40px;
    margin-left: 10px;
    color: var(--clr-hover-bg);
}
.c-img1{
    width: 400px;
    height: 500px;
    /* transform: scale(0.5); */
}
.c-img2{
    width: 400px;
    height: 500px;
    /* transform: scale(0.5); */
}
.c-img3{
    width: 400px;
    height: 440px;
    /* transform: scale(0.5); */
}
.c-img4{
    width: 400px;
    height: 300px;
    /* transform: scale(0.5); */
}
.clients-scale{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    transform: scale(0.9);
}


.del-sec-opasity{
    display: none;
}
.del-sec{
    height: 300px;
    background-color: transparent;
    background-image: none;
}
.del-sec > strong {
    display: none;
}
/* Clients Responsive Start */
@media only screen and (max-width:970px) {
    .clients__list{
        flex-wrap: wrap;
        height: auto;
    }

    .clients__item{
        align-self: flex-start;
    }
    .clients__item{
        margin-bottom: 10px;
    }
    .clients__item{
        height: 300px;
        width: 300px;
        padding-bottom: 10px;
    }
    .clients__img{
        width: 100%;
        height: 100%;
    }
    .clients__subtitle{
        margin-top: 20px;
    }
}
@media only screen and (max-width:736px) {
    .clients__list{
        flex-wrap: wrap;
        height: auto;
    }

    .clients__item{
        align-self: flex-start;
    }
    .clients__item{
        margin-bottom: 10px;
    }
    .clients__item{
        height: 200px;
        width: 200px;
        padding-bottom: 10px;
    }
    .clients__img{
        width: 100%;
        height: 100%;
    }
    .clients__subtitle{
        margin-top: 20px;
        font-size: 10px;
    }
}
@media only screen and (max-width:500px) {
    .clients__list{
        flex-wrap: wrap;
        height: auto;
    }

    .clients__item{
        align-self: flex-start;
    }
    .clients__item{
        margin-bottom: 10px;
    }
    .clients__item{
        height: 175px;
        width: 175px;
        padding-bottom: 10px;
    }
    .clients__img{
        width: 100%;
        height: 100%;
    }
    .clients__subtitle{
        margin-top: 20px;
        font-size: 10px;
    }
    .clients-scale{
        width: 100%;
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        transform: scale(0.75);
        object-fit: cover;
    }
}
@media only screen and (max-width:404px) {
    .clients__item{
        width: 150px;
    }
    .clients__img{
        width: 100%;
    }
}
/* Clients Responsive End */
/* Clients Section End */

/* Deliver Section Start */
.deliver-section{
    z-index: -1;
    position: relative;
    padding: 80px 0;
    background-color: #5183A6;
}
.deliver-section::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 80px;
    background-image: url("../images/diliver.png");
    background-repeat: no-repeat;
    width: 400px;
    height: 300px;
    background-size: 100%;
}
.deliver__content{
    width: 50%;
}
.deliver__title{
    margin-bottom: 30px;
}

/* Deliver Responsive Start */
@media only screen and (max-width:667px){
    .deliver-section{
        overflow-y: hidden;
        padding: 20px 0 200px 0;
        /* z-index: 5555555555; */
    }
    .deliver-section::before{
        z-index: -1;
        height: 277px;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 163px;
    }
    .deliver__content{
        z-index: 2;
        width: 100%;
        text-align: center;
    }
    .deliver__title{
        z-index: 2000;
    }
}
/* Deliver Responsive End */

/* Deliver Section End */

/* About Us Section Start */
.about-us-section{
    text-align: center;
}
.about-list{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-list__img{
    border-radius: 5px;
}

@media only screen and (max-width:836px){
    .about-list, .about-list__item{
        margin: 0 auto;
    }
    .about-list__img{
        width: 350px;
    }
    .about-list__item + .about-list__item{
        margin-top: 0;
    }
}

@media only screen and (max-width:728px){
    .about-list{
        justify-content: center;
        margin-bottom: 40px;
    }
    .about-list__item{
        width: 200px;
        height: 200px;
    }
    .about-list__item:nth-child(3){
        margin-top: 10px;
    }
    .about-list__item:last-child{
        margin-top: 10px;
    }
    .about-list__item{
        margin-top: 0;
    }
    .about-list__img{
        width: 100%;
        height: 100%;
    }

}
@media only screen and (max-width:645px){

    .about-list__img{
        width: 100%;
    }
}
@media only screen and (max-width:440px){
    .about-list__item{
        width: 150px;
        height: 150px;
    }
}
/* About Us Section End */

/* Videos section Start */
.videos-section{
    padding: 40px 0;
    text-align: center;
}
.videos{
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(33, 35, 38, 0.1);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}
.videos-first{
    width: 300px;
    height: 300px;
}

@media only screen and (max-width:670px){
    .videos{
        justify-content: center;
    }
    /* .videos-first + .videos-first {
        margin-top: 20px;
    } */
    .videos__title{
        font-size: 20px;
    }
}
@media only screen and (max-width:450px){
    .videos{
        justify-content: center;
    }
    .videos-first{
        width: 100%;
    }
    .videos-first:nth-child(2){
        margin-left: 10px;
    }
    .videos-first:nth-child(3){
        margin-top: 10px;
    }
}
/* Videos section End */

/* Location Section Start */
.location{
    width: 100%;
}
/* Location Responsive Start */

/* Location Responsive End */
/* Location Section End */

/* Main Styles End */


/* Footer Styles Start */
.site-footer{
    padding: 10px 0;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__logo-links{
    display: flex;
    align-items: center;
}

.footer__clever{
    margin-left: 40px;
}

@media only screen and (max-width:906px){
    .footer{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .footer__logo-links{
        flex-direction: column;
    }
    .footer__clever{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0;
    }
}
/* Footer Styles End */




/* Basic Section Start */

.basic-section{
    margin-top: -40px;
    padding: 120px 0;
    background-image: url("../images/kichen.jpg");
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;
}
.basic{
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(33, 35, 38, 0.25);
    text-align: center;
}
.basic__title{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 50px;
    color: #fff;
    text-shadow: 0 0 5px #333;
}
.basic__text{
    font-size: 25px;
    color: #fff;
    text-shadow: 0 0 5px #333;
}
@media only screen and (max-width:649px){
    .basic__title{
        font-size: 35px;
    }
    .basic__text{
        font-size: 18px;
    }
}
@media only screen and (max-width:387px){
    .basic-section{
        margin-top: -74px;
    }
    .modal{
        top: 124px;
    }
}
.basic-menu{
    z-index: 3;
    margin-top: -1px;
    /* margin-top: 253px; */
    position: sticky;
    top: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5183A6;
}
.basic-menu__item + .basic-menu__item {
    margin-left: 15px;
}
.basic-menu__link{
    color: #fff;
    font-size: 15px;
}
.basic-menu__tel{
    color:#fff;
}
.basic-menu__tel + .basic-menu__tel{
    margin-left: 15px;
}
.basic-menu__list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
@media only screen and (max-width:724px){
    .basic-manu__links{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .basic-menu__tel + .basic-menu__tel {
        margin-left: 0;
    }

}
@media only screen and (max-width:548px){
    .basic-menu__tel{
        font-size: 10px;
        text-align: center;
    }
    .basic-menu__item{
        font-size: 12px;
    }
    .clients__title{
        font-size: 30px;
    }

}
@media only screen and (max-width:348px){
    .basic-menu__link{
        font-size: 11px;
    }

}
/* Basic Section End */


.ring-btn{
    cursor: pointer;
    border: none;
    border-radius:10px;
    background-color: transparent;
    display: flex;
    align-items: center;
    position: fixed;
    top: 150px;
    z-index: 9999999999;
    right: -204px;
}
.right-to{
    right: 0;
}
.caption{
    margin-bottom: 10px;
    color: green;
    font-size: 15px;
    font-weight: bold;
}
.rigging-img-wrapper{
    padding: 5px 6px;
    border-radius: 50%;
    /* background-color: #fff; */
    margin-right: 10px;
    animation: ring 0.4s ease-in-out;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
@keyframes ring {
    0%{
       box-shadow: 0 0 2px 2px green ;
       transform: rotate(45deg);
    }
    100%{
        box-shadow: 0 0 5px 5px green;
        transform: rotate(-45deg);

    }
}

.ring-cals{
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ring__items{
    color: #333;
    border-bottom: 2px solid transparent;
    font-weight: bold;
}
.ring__items:hover{
    border-bottom: 2px solid #333;

}
.ring__items + .ring__items {
    margin-top: 10px;
}
.none{
    opacity: 0;
}

.cli{
    /* transform: scale(1); */
    height: 520px;
}